<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    {% if info == "new_pass" %}
        <form action="{% url 'register' %}" method="POST">
            <input type="hidden" name="flag" value="set_pass">
            <input name="person_number" type="text" placeholder="شماره تماس">
            <input type="pss" name="password" placeholder="رمز عبور جدید">
            <input type="submit" value="ثبت">
        </form>
    {% endif %}
    {% if info == "login" %}
    <form action="{% url 'login' %}" method="POST">
        <input type="hidden" name="flag" value="login">
        <input name="person_number" type="text" placeholder="شماره تماس">
        <input type="password" name="password" placeholder="رمز عبور">
        <input type="submit" value="ورود">
    </form>
    {% endif %}
</body>
</html>